.os_icon_wrapper {
  --icon-size: 130px;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  background-color: white;
  border: solid 2px black;
  display: inline-block;
  padding: 20px;
}

.download:hover .os_icon_wrapper{
  box-shadow: var(--ifm-global-shadow-md) !important;
}

.os_icon {
  height: 100%;
  width: initial;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.os_icon_row {
  text-align: right;
  border-right: solid 2px gray;
}

@media (max-width: 996px) {
  .os_icon_row {
    text-align: center;
  }
  .os_button_wrapper {
    text-align: center;
  }
}

