.team_member{
  /* flex-wrap: wrap; */
  gap: 1rem;
  padding: 1rem;
  border: solid 1px gray;
  border-radius: 1rem;
}

.member_info {
  /* margin-left: 1rem; */
}

.member_name {
  margin-bottom: 0.25rem;
}

.member_title {
  margin-bottom: 0.5rem;
  color: #666;
}

.member_photo {
  height: auto;
  border-radius: 1rem;
}

.member_email {

}

.member_photo {
  align-self: flex-start;
}
