.team_member{
  --border-radius: 0.75rem;
  border: solid 1px #ddd;
  border-radius: var(--border-radius);
}

.member_title {
  color: #666;
}

.member_photo {
  max-width: 100%;
  max-width: 50%;
  border-radius: var(--border-radius);
}

.member_contact {
  margin-bottom: 0.5rem;
  border-top: solid 1px var(--ifm-color-secondary);
  border-bottom: solid 1px var(--ifm-color-secondary);
}

.member_photo {
  align-self: flex-start;
}
