.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-image: url('/img/feature.jpg');
  background-repeat: repeat;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
