.pricingCardList {
  display: grid;
  max-width: 240px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 32px;
  row-gap: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  grid-auto-rows: 1fr;
}

@media (min-width: 640px) {
  .pricingCardList {
    max-width: 480px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .pricingCardList {
    max-width: 720px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .pricingCardList {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
  }
}
