.faq details {
  text-align: left;
  margin-bottom: 1rem;
}

.faq details[open] {
  background-color: white;
  border: solid 1px black;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.faq details summary {
  font-weight: bold;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.faq details p {
  margin-left: 1rem;
  background-color: white;
}

.faq details p:last-child {
  margin-bottom: 2.5rem;
}
