
.container {
  background-color: white;
  border-radius: 0.5rem;
  /*
  padding: 1.5rem;
  border: solid 1px red;
  */
}

.small { 
  display: none; 
  padding-top: 1rem;
}

.big {
  padding-top: 2rem;
}

@media (max-width: 996px) {
  .big {
    display: none;
  }
  .small {
    display: initial;
  }
}

.option_group {
  /* margin-top: 1rem; */
}

.option_row {
  border-bottom: dashed 1px rgba(0,0,0,0.2);
}

.option_row_last {
  margin-bottom: 2rem;
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
  color: gray;
}
