/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

/* You can override the default Infima variables here. */
:root {
  --ifm-link-color: #915243;
  --ifm-color-primary: #3a3b3c;
  --ifm-color-primary-dark: #343536;
  --ifm-color-primary-darker: #313233;
  --ifm-color-primary-darkest: #29292a;
  --ifm-color-primary-light: #404142;
  --ifm-color-primary-lighter: #434445;
  --ifm-color-primary-lightest: #48494a;
  --ifm-background-color: #eeeeec;
  --ifm-font-family-base: "Rubik";
  --ifm-heading-font-family: "Rubik";
  --ifm-font-family-monospace: "Rubik";
}
[data-theme="dark"] {
  --ifm-color-primary: #3a3b3c;
  --ifm-color-primary-dark: #343536;
  --ifm-color-primary-darker: #313233;
  --ifm-color-primary-darkest: #29292a;
  --ifm-color-primary-light: #404142;
  --ifm-color-primary-lighter: #434445;
  --ifm-color-primary-lightest: #464748;
  --ifm-background-color: #eeeeec;
}

.bg-transparent {
  background: transparent;
}

.bg_white {
  background: #915243;
}

.bg-grid-pattern {
  background-image: url("/img/grid.png");
  background-repeat: repeat;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu_button {
  position: absolute;
  color: white;
}

.navbar_layout {
  justify-content: center;
}

.desktop {
  display: none;
}

.z_back {
  z-index: -1;
}

.z_0 {
  z-index: 0;
}

.z_40 {
  z-index: 40;
}

/* flex */
.flex {
  display: flex;
}

.flex_row {
  flex-direction: row;
}

.flex_col {
  flex-direction: column;
}

.items_center {
  align-items: center;
}

.justify_between {
  justify-content: space-between;
}

.justify_center {
  justify-content: center;
}

/* width & height */
.w_full {
  width: 100%;
}

.h_full {
  height: 100%;
}

.min_h_40 {
  min-height: 160px;
}

/* gap */
.gap30 {
  gap: 30px;
}

/* font */
.font_rubik {
  font-family: "Rubik";
}

.text_gray {
  color: #f4f4f3;
}

.font_bold {
  font-weight: 600;
}

.text_xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text_sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text_base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text_lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text_xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text_2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text_3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 1;
}

.text_4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 1;
}

.text_5xl {
  font-size: 2.5rem; /* 40px */
  line-height: 1;
}

.text_6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text_7xl {
  font-size: 4.375rem; /* 70px */
  line-height: 1.25;
}

.text_8xl {
  font-size: 6rem; /* 96px */
  line-height: 1.25;
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}

.leading_28 {
  line-height: 28px;
}

.text_hero_img {
  font-size: 32px;
}

.text_hero {
  font-size: 20px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.object_contain {
  object-fit: contain;
}

.object_cover {
  object-fit: cover;
}

.object_fill {
  object-fit: fill;
}

.object_center {
  object-position: center;
}

.inset_0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* padding & margin */
.pt_2 {
  padding-top: 8px;
}

.pt_4 {
  padding-top: 16px;
}

.px_5 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px_8 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px_10 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.pt_10 {
  padding-top: 100px;
}

.p_4 {
  padding: 16px;
}

.pt_5 {
  padding-bottom: 50px;
}

.m_70 {
  margin-top: 70px;
}

.m_20 {
  margin-bottom: 20px;
}

.mt_2 {
  margin-top: 8px;
}

.mt_4 {
  margin-top: 16px;
}

.mt_6 {
  margin-top: 24px;
}

.mt_10 {
  margin-top: 40px;
}

.mt_20 {
  margin-top: 80px;
}

.ml_2 {
  margin-left: 8px;
}

.mx_auto {
  margin-left: auto;
  margin-right: auto;
}

.space_x_12 > * + * {
  margin-left: 3rem; /* 48px */
}

.space_y_7 > * + * {
  margin-top: 1.75rem; /* 28px */
}

.space_y_2 > * + * {
  margin-top: 0.5rem; /* 8px */
}

.space_y_5 > * + * {
  margin-top: 1.25rem; /* 20px */
}

.space_y_7 > * + * {
  margin-top: 1.75rem; /* 28px */
}

/* border */
.rounded_none {
  border-radius: 0px;
}

.rounded_5xl {
  border-radius: 40px;
}

/* animation */
.ease_in_out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration_300 {
  transition-duration: 300ms;
}

/* Breakpoints */
.footer-layout {
  justify-content: flex-start;
}

.two_column_layout {
  justify-content: flex-start;
  flex-direction: column;
}

.hero_layout {
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.colorful_layout {
  background-color: rgba(255, 74, 31, 0.9);
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  width: fit-content;
  line-height: 1.3;
}

.copy_right {
  text-align: left;
}

@media (min-width: 997px) {
  .navbar_layout {
    justify-content: space-between;
  }

  .desktop {
    display: flex;
  }

  .footer-layout {
    justify-content: center;
  }

  .two_column_layout {
    justify-content: space-around;
    flex-direction: row;
  }

  .hero_layout {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .copy_right {
    text-align: center;
  }

  .text_hero_img {
    font-size: 70px;
  }

  .text_hero {
    font-size: 32px;
  }
}

.hero__subtitle {
  line-height: 80px;
}
