.pricingCard {
  padding: 30px 24px;
  width: 100%;
  min-height: 36rem;
  overflow: hidden;
}

.ctaButton {
  width: 80%;
  padding: 8px 12px;
  border: 1px solid #f4f4f3;
  border-radius: 0;
}

.ctaButton:hover {
  background: #f4f4f3;
  color: black;
}
